<!DOCTYPE html>
<html>
  <head><title>Map</title>
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
	var ajcall = function(){
	  $.post("/status",
	  	{
	      addPost: $("#post")[0].value,
	      addUser: <%= userdata.username %>
	    },
	    function(data, status) {
	      if (!data.stat) {
	      	alert("Something went wrong.  Please be sure the post is not empty!");
	      } else {

	      }
	    }
      );
      return false;
	};
	
  </script>
  
</head><body>
  <%if (message != null) { %>
  <font color="red"><%= message %></font>
  <% } %>
  <h1><%= userdata.firstname %> <%= userdata.lastname%></h1>
  
  <br>
  <form id="theform" action="" method="" onSubmit="ajcall(); return false">
    Post to Wall: <input id="post" type="text" name="post"><br>
 	<input type="submit" id="btn" value="Post">
  </form>
  <br><a href="/logout">Log Out</a>
</body>
</html>
