<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
<body>
  <%if (message != null) { %>
  <font color="red"><%= message %></font>
  <% } %>
  <h1>Sign Up!</h1>
  <form action="/createaccount" method="post">
    Enter Username Here: <input type="text" name="username"><br>
    Enter Password Here: <input type="password" name = "password"><br>
    Enter First Name Here: <input type="text" name="firstname"><br>
    Enter Last Name Here: <input type ="text" name="lastname"><br>
    Enter Interests (Comma Separated) Here: <input type="text" name="interests"><br>
    Enter Affiliations (Comma Separated) Here: <input type="text" name="affiliations"><br>
    Enter Date of Birth (MM-DD-YYYY) Here: <input type="text" name="dateofbirth"><br>
    <input type="submit" value="Sign Up!">
    <br><a href="/">Already have an account?  Sign in here.</a>
  </form>
</body>
<footer>
  <p>Full Name: Ethan Abramson</p>
  <p>SEAS login: etha</p>
</footer>
</html>